.button
    border-radius 3px
    background-color #2196F3
    color white
    // display inline-block
    box-sizing border-box
    font-size 1rem
    padding .75rem
    cursor pointer
    transition all .3s
    &:hover
        background-color #42A5F5
    &.button_mix_form
        margin-top 10px
